div {
  line-height: 1.2em;
}

div.vendor-pickup-request div {
  border: darkkhaki dashed;
  padding: .5em;
}

div.vendor-pickup-request div:last-child {
  border-top: 0;
  margin-bottom: .5em;
}

.driver-item {
  display: flex;
  flex-direction: column;
  border: darkolivegreen dashed;
  border-bottom: 0;
  padding: 2px;
}

.driver-item:last-child {
  border-bottom:darkolivegreen dashed;
}

.driver-item div:first-child {
  text-align: center;
}

.driver-item div:nth-child(2) {
  padding: 0 .25em;
  border-top: darkolivegreen dashed;
}

.driver-current-delivery {
  border: darkolivegreen dashed;
  padding: 2px;
}

.driver-container > div:first-child,
.vendor-container > div:first-child {
  text-align: center;
  color:darkred;
}

.driver-container > div:first-child {
  color:darkgreen;
}

.driver-container > div:nth-child(2),
.vendor-container > div:nth-child(2) {
  margin: 0 auto;
  padding: 0 .5em;
  height: 2.5em;
}

button {
  width: 100%;
  margin-top: .25em;
}

.driver-container {
  background-color: aquamarine;
}
.vendor-container {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}


/*
Adapted from:
Credit: @sarah_edo 
https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
*/
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 1);
    }
    
    20%, 80% {
      transform: translate3d(2px, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.driver-busy-truck{
    animation: shake 0.82s infinite;
    display: inline-block;
}
.driver-busy-truck::after {
    content: " 🚚";
}

.hub-logger {
  padding: 2px;
  width: 90%;
  border: solid;
  height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.hub-logger table {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.hub-logger table tr:nth-child(even) {
  background-color: aliceblue;
}
/*
.driver-busy-truck{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    animation-iteration-count: infinite;
}
*/
